
/**
 * MediaMath logo.
 */

.logo[data-logo="MediaMath"] {
  width: 2.6em;
}

.logo[data-logo="MediaMath"] > * {
  background-image: url(images/logo.svg);
  margin: -.3em 0 -.3em 0;
}

.logo[data-logo="MediaMath"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="MediaMath"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
